.posts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* ✅ 保证最小300px */
  gap: var(--vp-gap);
  margin-bottom: 24px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: var(--vp-gap);
}

.post-card {
  display: flex;
}

.tags {
  perspective: 1000px;
  border-radius: var(--vp-border-radius-1);
  transition: all var(--vp-transition-time);
  display: flex;
  flex-wrap: wrap;
  gap: var(--vp-gap);
}

div.tags,
.posts-grid {
  margin-bottom: 30px;
}
